<div class="container">
  <h1 class="text-center">ColorQueue</h1>
  <p class="text-center">ColorQueue cycles through the colors in the queue and showns them on a physical LED strip!</p>
  <hr>
  {{outlet}}
</div>
